.inbox {
    margin: 3rem auto;
    text-align:unset;
    font-size: 1.2rem;
    width: 50%;
}

.inbox h1{
    text-align: center;
}

.inbox ul{
    border: 1px solid rgb(119, 117, 117);
    margin: 0;
}

.inbox li{
    margin: 1rem;
    line-height: 2rem;
    list-style: decimal;
}

.inbox button{
    color: white;
    background-color: red;
    border: 1px solid lightcoral;
    text-align: center;
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    transition: background-color 1s;
    font-size: 15px;
    font-weight: 300;
}

.inbox button:hover,
.inbox button:focus {
    background-color:rgb(243, 87, 87);
}