.inbox {
    margin: 3rem 6rem;
    text-align:unset;
    font-size: 1.2rem;
}

.inbox h1{
    text-align: center;
}

.inbox ul{
    border: 1px solid black;
    margin: -0;
}

.inbox li{
    margin: 2rem;
    line-height: 2rem;
    list-style: decimal;
}